<div class="row">
  <form class="col s12" data-scope="filial">
    <input type="hidden" data-prop="filial_id">
    <div class="row">
      <div class="input-field col s12">
        <input type="text" data-prop="endereco" class="validate" placeholder="Endereco">
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input type="text" data-prop="nome_gerente" class="validate" placeholder="Nome do Gerente">
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <a href="/filiais" class="btn waves-effect waves-light red">Cancelar</a>
        <button data-prop="action" class="btn waves-effect waves-light" type="submit"></button>
      </div>
    </div>
  </form>
</div>
