<h2>Filial</h2>

<section class="actions right-align">
  <a href="/filiais/new" class="waves-effect waves-light btn">Adicionar</a>
</section>

<table>
  <thead>
    <tr>
      <th>Endereco</th>
      <th>Gerente responsavel</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr data-scope="filiais">
      <td data-prop="endereco"></td>
      <td data-prop="nome_gerente"></td>
      <td>
        <a data-prop="edit" class="btn waves-effect waves-light blue">Editar</a>
        <a data-prop="remove" class="btn waves-effect waves-light red">Remover</a>
      </td>
    </tr>
  </tbody>
</table>
