<h2>Tabela de Preços</h2>

<section class="actions right-align">
  <a class="waves-effect waves-light btn">Adicionar</a>
</section>

<table>
  <thead>
    <tr>
      <th>Filial</th>
      <th>Quantidade de tempo base (min)</th>
      <th>Quantidade de tempo limite (min)</th>
      <th>Dia da semana</th>
      <th>Valor</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <a href="#">Mogi das Cruzes</a>
      </td>
      <td>0 min</td>
      <td>30 min</td>
      <td>Sábado</td>
      <td>R$2,00</td>
    </tr>
  </tbody>
</table>