<h2>Vagas Ocupadas</h2>

<section class="actions right-align">
  <a class="waves-effect waves-light btn">Ocupar vaga</a>
</section>

<table>
  <thead>
    <tr>
      <th>Filial</th>
      <th>Carro</th>
      <th>Horario de entrada</th>
      <th>Numero da vaga</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <a href="#">Mogi das Cruezes</a>
      </td>
      <td>
        <a href="#">Fiesta (AAAA-5555)</a>
      </td>
      <td>19/11/2015 15:45:00</td>
      <td>15</td>
    </tr>
  </tbody>
</table>